<!doctype html>
{% load static %}
<html lang="en">

    <head>
        {% block title %}
        <title>cosmos-search</title>
        {% endblock %}

        {% block head %} {% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% include 'cosmos/bundles/css.html' %}
        {% include 'cosmos/bundles/js.html' %}
        {% include 'cosmos/_base_css.html' %}
        {% block style %} {% endblock %}
    </head>

    <body>
        {% include 'cosmos/_header.html' %}

        {% include 'cosmos/_nav.html' %}

        {% block main %} {% endblock %}

        {% include 'cosmos/_footer.html' %}

        <script type="text/javascript"
                src="//platform-api.sharethis.com/js/sharethis.js#property=5a8129cbe45fbb001342fed3&product=custom-share-buttons"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
        <script>
            $(document).ready(function() {
              focus();
              $("#main_search").autocomplete({
                        source: "/",
                        minLength: 1,
                        select: function (e, ui) {
                            $("#formq").submit()
                        }
                    });
            });
            function focus() {
              $("#main_search").select();

            }
            $("#formq").submit(function () {
                if ($('input').val().replace(/[\s,\/#!$%\^&\*;:{}=\-_`~().]/g, '').length === 0) {
                    return false;
                }
            });
            function clear_search(id) {
                document.getElementById(id).value=''
                document.getElementById(id).focus()
            }
        </script>

        {% block javascript %} {% endblock %}
    </body>

</html>
