{% extends 'cosmos/header.html' %}
{% block main %}
<main>
    <h1 class="text-center">Human-Curated Lists</h1>
    <hr>

    {% for item in lists %}
    <div class="card mx-1 my-2">
        <div class="card-header">
            <a href="{% url 'lists' %}{{item.filename}}">{{item.title}}</a>
        </div>
        <div class="card-body">
            <p class="card-text">{{item.description}}</p>
            <p class="float-right">-<a href="{{item.authorlink}}" target="_blank">{{item.author}}</a></p>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}
